<a href="https://github.com/strand/Sinatra-Barista">Fork me on Github!</a>

<h2>Barista Tasks</h2>
<ul>
	<li>A Barista wants to be able to list their coffees they use.</li>
	<li>A Barista wants to be able to comment on reviews.</li>
	<li>A Barista wants to be able to list their prices for coffee.</li>
	<li>A Barista wants to be able to select their specialty.</li>
	<li>A Barista or coffee drinker wants to be able to add or view outlets, wifi, or other information about the coffee shop.</li>
	<li>A coffee drinker wants to be able to follow their favorite Barista.</li>
	<li>A Barista wants to be able to send an alert to all of their coffee drinkers.</li>
</ul>

<h2>Customer Abilities</h2>
<ul>
	<li>A coffee drinker wants to add a rating for the coffee beverage.</li>
	<li>A coffee drinker wants to list the price of the coffee beverage.</li>
	<li>A coffee drinker wants to review the Barista.</li>
	<li>A coffee drinker wants to rate the Barista.</li>
	<li>A coffee drinker wants to know where the beverage.</li>
	<li>A coffee drinker wants to know where the Barista was working.</li>
	<li>A coffee drinker doesn’t want to read huge reviews.</li>
</ul>

<h2>Barista Dev Team</h2>
<ul>
	<li><a href="https://github.com/Ang3lFir3">Eric</a></li>
	<li><a href="https://github.com/TrevorBramble">Trevor</a></li>
	<li><a href="https://github.com/Adron">Adron</a></li>
	<li><a href="https://github.com/strand">Strand</a></li>
</ul>